h1, h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer {
    background-color: salmon;
    text-align: center;
}

main>article {
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article>img {
    height: 250px;
}

main .mountain_image {
    filter: grayscale(1)
}

main div img {
    transform: translateX(300px);
    filter: blur(2px);
}

img~p {
    font-family: fantasy;
}

h3~img {
    filter: opacity(0.5);
}

main+footer {
    padding: 20px;
}

h1+img {
    transform: translateX(300px) translateY(200px);
}